<h2 id="title">Ember Plaid Link Demo</h2>

{{#plaid-link id="link-plaid-button"
  onSuccess=(action "nextStep")
  onOpen=(action "openedLink")
  onExit=(action "exited")}}
  Click to launch Plaid Link Component
{{/plaid-link}}
